<div class="outmost">

    <div class="top">
        <div class="container">
            <div class="box">
                <label for="from">Tujuan</label>
                <input id="from" type="text" placeholder="Mau Nginep Di Mana?">
            </div>
            <div class="box">
            <label for="">Check-In</label>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="berangkatDate" id="berangkat">
                <mat-datepicker-toggle matSuffix [for]="berangkatDate"></mat-datepicker-toggle>
                <mat-datepicker #berangkatDate></mat-datepicker>
            </mat-form-field>
            </div>
            <div class="box">
                <label for="">Check-Out</label>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="pulangDate"  id="pulang">
                    <mat-datepicker-toggle matSuffix [for]="pulangDate"></mat-datepicker-toggle>
                    <mat-datepicker #pulangDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="box">
                <label for="pclass">Tamu & Kamar</label>
                <input id="pclass" type="text" placeholder="berapa tamu, berapa kamar">
            </div>
        </div>
        
        <div class="buton" >
            <button align="right" (click)="search()">
                Cari Hotel
            </button>
        </div>
    </div>

    
    <div class="filter-container">
        <div class="filter">
            <button mat-raised-button color="warn" (click) = "toList()" style="width: 100%; height:100px"> Search By List </button>
            <button mat-raised-button color="primary" (click)="resetFilter()">Reset</button>
    
            <mat-expansion-panel (opened)="getLocData()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Area
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="locations.length < 500">
                    <mat-progress-bar
                        mode="indeterminate">
                    </mat-progress-bar>
                </div>
                <div class="loc">
                    <div *ngFor="let item of locations; let i =index" >
                        <mat-checkbox [(ngModel)]="locationModel[i]" (change)= changed()>{{item.city}}</mat-checkbox>
                    </div>
                </div>
            
              </mat-expansion-panel>
    
              <mat-divider></mat-divider>
    
              <div class="price">
                Price Range
                <ng5-slider class="price-slider" (valueChange) = "changed()" (highValueChange) = "changed()"
                    [(value)]="min" [(highValue)]="max" [options]="options"></ng5-slider>
              </div>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Rating
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let item of ratings; let i =index">
                        <mat-checkbox [(ngModel)]="ratingsModel[i]" (change) = changed()>
                            {{item}}
                            <app-star-rating [Rating]="20 * (i + 1)"></app-star-rating>
                        </mat-checkbox>
                    </div>
                </div>
              </mat-expansion-panel>
    
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Facility
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let item of facility; let i =index">
                        <mat-checkbox [(ngModel)]="facilityModel[i]">
                            {{item}}
                        </mat-checkbox>
                    </div>
                </div>
              </mat-expansion-panel>
    
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Category
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <div *ngFor="let item of category; let i =index">
                        <mat-checkbox [(ngModel)]="categoryModel[i]">
                            {{item}}
                        </mat-checkbox>
                    </div>
                </div>
              </mat-expansion-panel>
    
              
                <mat-select [(value)]="SortBy">
                    <mat-option value="Recommended">Recommended</mat-option>
                    <mat-option value="Price Low">Price (Lowest First)</mat-option>
                    <mat-option value="Price High">Price (Highest First)</mat-option>
                    <mat-option value="Rating Low">Rating (Lowest First)</mat-option>
                    <mat-option value="Rating High">Rating (Highest First)</mat-option>
                </mat-select>
              
        </div>

    </div>

    <div class="hotelngapung" *ngIf="showHot">

        <div class="hotelImage">
            <div *ngIf="checkPhoto(showHot.photo)">
                <img src="{{path}}{{showHot.photo[0].path}}" alt="">
            </div>
        </div>
  
        <div class="hotelTitle">
          <div>{{showHot.name}}</div>
          <app-star-rating [Rating]="showHot.rating/5 * 100"></app-star-rating>
        </div>
  
        <div class="hotelData">
          <img src="assets/hotels/location.jpg" alt="">
          {{showHot.location.city}}, {{showHot.location.province}}
        </div>
  
        <!-- <div class="hotel-data-facility-container">
          <div class="hotel-data-facility" *ngFor="let facility of showHot.facility">
            <img src="/assets/hotels/facility/{{facility.photo}}" alt="">
          </div>
        </div> -->
  
        <div class="hotel-button-order">
          Order Now
        </div>
  
  
      </div>
</div>

<div class="map" id="map"></div>
        