<div class="container">
    <!-- <img  src="../../../assets/Hotel/mylinha.jpg" > -->
    <div class="insertButton">
        <button mat-raised-button color="Accent"(click)="Insert()"> Insert New Hotel </button>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" value="value">
        </mat-form-field>
    </div>

    <mat-divider>
    </mat-divider>
    <div *ngIf="dataSource ==null">
        <mat-spinner></mat-spinner>
    </div>
    <div class="table-container">
        <table mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="Image">
                <th  mat-header-cell *matHeaderCellDef> Image </th>
                <td  mat-cell *matCellDef="let hotel"> 
                    <div *ngIf="checkHotelPhoto(hotel)">

                        <img src="{{path}}{{hotel.photo[0].path}}" alt="">
                    </div>
                </td>
            </ng-container>s
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td  mat-cell *matCellDef="let hotel"> 
                    <mat-form-field>
                        <input matInput placeholder="Hotel Name" value="hotel.name" [(ngModel)]="hotel.name">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let hotel">
                    <mat-form-field>
                        <textarea matInput placeholder="Hotel Description" value="hotel.description" [(ngModel)]="hotel.description"></textarea>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <mat-form-field>
                        <input type="number" matInput placeholder="Hotel Price" value="hotel.price" [(ngModel)]="hotel.price">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="Rating">
                <th mat-header-cell *matHeaderCellDef> Rating </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <mat-form-field>
                        <input type="number" matInput placeholder="Hotel Rating" value="hotel.rating" [(ngModel)]="hotel.rating">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="Facilities">
                <th mat-header-cell *matHeaderCellDef> Facilities </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <div *ngFor="let h of hotel.facility">
                        {{h.name}},
                    </div>    
                </td>
            </ng-container>
            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let hotel"> 
                    {{hotel.address}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <div *ngFor="let h of hotel.type">
                        {{h.name}},
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Update">
                <th mat-header-cell *matHeaderCellDef> header </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <button mat-raised-button color="Primary" (click) = "Update(hotel)">Update</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> header </th>
                <td mat-cell *matCellDef="let hotel"> 
                    <button mat-raised-button color="accent" (click) = "Delete(hotel)">Delete</button> 
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns sticky"></tr>
            <tr mat-row *matRowDef="let hotel; columns: columns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>