.container{
    display: flex;
    flex-direction: column;
    .table-container{
        width:100%;
        overflow: auto;
        img{
            width: 15vw;
            height: 10vw;
            object-fit: cover;
        }
    }
    .mat-cell{
        padding-right: 1vw;
    }
    .mat-row{
        padding-right: 10px;
    }
    
    .insertButton{
        margin:10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }

    
}