<app-header></app-header>
<!-- <app-login></app-login> -->
<app-image-slider></app-image-slider>
<div class="quick-card-container" >
    <div id="container" (click)="unPop()"></div>
    <app-quick-card id="qcard" (click)="pop()" ></app-quick-card>
</div>
<button class="wa" (click)="wa()">WHATSAPP</button>

<mat-form-field>
    <input id="email" matInput placeholder="Input Email" >
    <button mat-button (click) = "subscribe()">Subscribe!</button>
</mat-form-field>

<app-rec-hotel></app-rec-hotel>
<app-footer></app-footer>
<!-- <app-map></app-map> -->
<!-- <app-register></app-register> -->