<div id="chat-container">
    <div id="bubble-container">
        <div *ngFor="let message of messageLists; let i =index">
            <div class="send" *ngIf="validate(message)">
                <div *ngIf="message.length < 100">
                    {{ message }}
                </div>
                <div *ngIf="message.length > 100">
                    <img src="{{imgSrc}}">
                    <a href="{{imgSrc}}" download="">Download</a>
                </div>
            </div>
            <div class="recv" *ngIf="!validate(message)">
                <div *ngIf="message.length < 100">
                    {{ message }}
                </div>
                <div *ngIf="message.length > 100">
                    <img src="{{imgSrc}}">
                    <a href="{{imgSrc}}" download="">Download</a>
                </div>
            </div>
    </div>
    
    <hr>
    <br>
    <div id="chat-input">
        <mat-form-field appearance="outline">
            <mat-label>Chat</mat-label>
            <input matInput placeholder="Enter message" [formControl]="messageControl" required>   
        </mat-form-field>
        <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;">
            <button mat-raised-button class="submit-btn" (click)="fileInput.click()">Image</button>
        <button *ngIf="messageControl.value != ''" mat-raised-button (click)="sendMessage()">Send</button>
    </div>
</div>