<div class="footer">
    <div class="top">
        <div class="contact">
            <div class="logo">
                <img src="../../../assets/Nav/logo.png">
            </div>
            <div class="contact-content">
                <img src="../../../assets/Nav/footer/message.webp">
                <div class="text">
                    <label class="gray">Whatsapp</label>
                    <label>0855 150 0878</label>
                </div>
            </div>
            <div class="contact-content">
                <img src="../../../assets/Nav/footer/email.webp">
                <div class="text">
                    <label class="gray">Email</label>
                    <label>cs@tiket.com</label>
                </div>
            </div>
            <div class="contact-content">
                <img src="../../../assets/Nav/footer/call.png">
                <div class="text">
                    <label class="gray">Call Center</label>
                    <label>0804 1500 878 (Indonesia only)</label>
                    <label>+6221 3973 0888</label>
                </div>
            </div>
        </div>

        <div class="dll">
            <label class="sub-title"> Company </label>
            <a href="#" class="items"> Blog </a>
            <a href="#" class="items"> Career </a>
            <a href="#" class="items"> Corporate </a>
            <a href="#" class="items"> Partner </a>
            <a href="#" class="items"> TIX Point </a>
            <a href="#" class="items"> Protection </a>
            <a href="#" class="items"> Installment </a>
            <a href="#" class="items"> Register Your Hotel </a>
        </div>
        <div class="dll">
            <label class="sub-title"> Product </label>
            <a href="#" class="items"> Flight </a>
            <a href="#" class="items"> Hotel </a>
            <a href="#" class="items"> Trainer </a>
            <a href="#" class="items"> Car Rental </a>
            <a href="#" class="items"> Entertainment </a>
        </div>
        <div class="dll">
            <label class="sub-title"> Support </label>
            <a href="#" class="items"> Help Center </a>
            <a href="#" class="items"> Terms and Conditions </a>
            <a href="#" class="items"> Privacy and Policy </a>
            <a href="#" class="items"> Worry-Free Fare </a>
        </div>
        <div class="dll">
            <label>Download tiket.com app</label>
            <img src="../../../assets/Nav/footer/downloadOn/googlePlay.png" alt="">
            <img src="../../../assets/Nav/footer/downloadOn/appStore.png" alt="">

        </div>
    </div>

    <div class="bottom">
        <div class="wonderful">
                <img src="../../../assets/Nav/footer/wonderfulIndonesia.webp">
                <p>
                    Official Partner of <br>
                    the Ministry of Tourism,
                    Republic of Indonesia
                </p>
        </div>
        <div class="links">
            <label> Secure Your Transaction </label>
            <div class="img-container transaction">
                <a href="#"><img src="../../../assets/Nav/footer/verified-visa.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/master-card.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/geoTrust.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/jcb-secure.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/safekey.webp"></a>
            </div>
        </div>
        <div class="links">
            <label> Awards </label>
            <div class="img-container award">
                <a href="#"><img src="../../../assets/Nav/footer/awards/iata.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/awards/topBrand.webp"></a>
                <a href="#"><img src="../../../assets/Nav/footer/awards/superbrand.webp"></a>
            </div>
        </div>
        <div class="links">
            <label> Follow Us </label>
            <div class="img-container socmed">
                <a href="#"><img class="fb" src="../../../assets/Nav/footer/socialMedia/fb.png"></a>
                <a href="#"><img class="twt" src="../../../assets/Nav/footer/socialMedia/twt.png"></a>
                <a href="#"><img class="in" src="../../../assets/Nav/footer/socialMedia/in.png"></a>
                <a href="#"><img class="youtube" src="../../../assets/Nav/footer/socialMedia/youtube.jpg"></a>
            </div>
        </div>
    </div>
</div>
